<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>文章</title>
    <link rel="shortcut icon" href="/images/common/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/normalize.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/common.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/article.css">
</head>

<body>
<div>
    <%- include header %>
    <div class="container">
        <article class="row" id="article">
            <section class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
                <% for(var i=0;i<result.length;i++) {%>
                    <article>
                        <aside>
                            <ul>
                                <li><%= result[i].dateLabel %></li>
                                <li><%= result[i].type %></li>
                            </ul>
                        </aside>
                        <header>
                            <a href="/article/articleDetail?id=<%= result[i].id %>" target="_blank"
                               class="articleTitle"><%= result[i].title %></a>
                            <p class="articleMeta">
                                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> <%= result[i].love %> 颗心 • 发表于 <%= result[i].date %> •
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <%= result[i].scan %> 次围观 •
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 活捉 <%= result[i].comment %> 条
                            </p>
                        </header>
                        <p><%= result[i].brief %></p>
                        <footer>
                        </footer>
                    </article>
                <% } %>
                <footer id="page">
                    <ul>
                        <li><a href="#"><span>&larr; 上一页</span></a></li>
                        <li style="float:right"><a href="#"><span>下一页 &rarr;</span></a></li>
                        <div style="clear:both"></div>
                    </ul>
                </footer>
            </section>
            <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="aside">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                            <input type="text" class="form-control" id="searchContent" placeholder="searchContent">
                            <div class="input-group-addon go">GO</div>
                        </div>
                    </div>
                </form>
                <ul class="href">
                    <li><a class='html' href="/article/articleType?type=H">HTML</a></li>
                    <li><a class='css' href="/article/articleType?type=C">CSS</a></li>
                    <li><a class='js' href="/article/articleType?type=J">JavaScript</a></li>
                    <li><a class='other' href="/article/articleType?type=O">其他文章</a></li>
                </ul>
                <embed wmode="transparent"
                       src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.swf"
                       quality="high" bgcolor="#ffffff" width="auto" height="70px" name="honehoneclock" align="middle"
                       allowscriptaccess="always" type="application/x-shockwave-flash"
                       pluginspage="http://www.macromedia.com/go/getflashplayer">
                    <div class="calendar">
                        <Script LANGUAGE="JavaScript">
                            var months = new Array("一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二");
                            var daysInMonth = new Array(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
                            var days = new Array("日", "一", "二", "三", "四", "五", "六");
                            var classTemp;
                            var today = new GetToday();
                            var year = today.year;
                            var month = today.month;
                            var newCal;

                            function getDays(month, year) {
                                if (1 == month) return ((0 == year % 4) && (0 != (year % 100))) || (0 == year % 400) ? 29 : 28;
                                else return daysInMonth[month];
                            }

                            function GetToday() {
                                this.now = new Date();
                                this.year = this.now.getFullYear();
                                this.month = this.now.getMonth();
                                this.day = this.now.getDate();
                            }

                            function Calendar() {
                                newCal = new Date(year, month, 1);
                                today = new GetToday();
                                var day = -1;
                                var startDay = newCal.getDay();
                                var endDay = getDays(newCal.getMonth(), newCal.getFullYear());
                                var daily = 0;
                                if ((today.year == newCal.getFullYear()) && (today.month == newCal.getMonth())) {
                                    day = today.day;
                                }
                                var caltable = document.all.caltable.tBodies.calendar;
                                var intDaysInMonth = getDays(newCal.getMonth(), newCal.getFullYear());

                                for (var intWeek = 0; intWeek < caltable.rows.length; intWeek++)
                                    for (var intDay = 0; intDay < caltable.rows[intWeek].cells.length; intDay++) {
                                        var cell = caltable.rows[intWeek].cells[intDay];
                                        var montemp = (newCal.getMonth() + 1) < 10 ? ("0" + (newCal.getMonth() + 1)) : (newCal.getMonth() + 1);
                                        if ((intDay == startDay) && (0 == daily)) {
                                            daily = 1;
                                        }
                                        var daytemp = daily < 10 ? ("0" + daily) : (daily);
                                        var d = "<" + newCal.getFullYear() + "-" + montemp + "-" + daytemp + ">";
                                        if (day == daily) cell.className = "DayNow";
                                        else if (intDay == 6) cell.className = "DaySat";
                                        else if (intDay == 0) cell.className = "DaySun";
                                        else cell.className = "Day";
                                        if ((daily > 0) && (daily <= intDaysInMonth)) {
                                            cell.innerText = daily;
                                            daily++;
                                        } else {
                                            cell.className = "CalendarTD";
                                            cell.innerText = "";
                                        }
                                    }
                                document.all.year.value = year;
                                document.all.month.value = month + 1;
                            }

                            function subMonth() {
                                if ((month - 1) < 0) {
                                    month = 11;
                                    year = year - 1;
                                } else {
                                    month = month - 1;
                                }
                                Calendar();
                            }

                            function addMonth() {
                                if ((month + 1) > 11) {
                                    month = 0;
                                    year = year + 1;
                                } else {
                                    month = month + 1;
                                }
                                Calendar();
                            }

                            function setDate() {
                                if (document.all.month.value < 1 || document.all.month.value > 12) {
                                    alert("月的有效范围在1-12之间!");
                                    return;
                                }
                                year = Math.ceil(document.all.year.value);
                                month = Math.ceil(document.all.month.value - 1);
                                Calendar();
                            }
                        </Script>
                        <Script>
                            function buttonOver() {
                                var obj = window.event.srcElement;
                                obj.runtimeStyle.cssText = "background-color:darkmagenta";
                                // obj.className="Hover";
                            }

                            function buttonOut() {
                                var obj = window.event.srcElement;
                                window.setTimeout(function () {
                                    obj.runtimeStyle.cssText = "";
                                }, 300);
                            }
                        </Script>
                        <table border="0" cellpadding="0" cellspacing="1" class="Calendar" id="caltable">
                            <thead>
                            <tr align="center" valign="middle">
                                <td colspan="7" class="Title">
                                    <a href="javaScript:subMonth();" title="上一月" Class="DayButton">3</a>
                                    <input name="year" type="text" size="4" maxlength="4"
                                           onKeyDown="if (event.keyCode==13)"
                                           onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"
                                           onpaste="this.value=this.value.replace(/[^0-9]/g,'')"> 年
                                    <input name="month" type="text" size="1" maxlength="2"
                                           onKeyDown="if (event.keyCode==13)"
                                           onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"
                                           onpaste="this.value=this.value.replace(/[^0-9]/g,'')"> 月 <a
                                            href="JavaScript:addMonth();" title="下一月" Class="DayButton">4</a>
                                </td>
                            </tr>
                            <tr align="center" valign="middle">
                                <Script LANGUAGE="JavaScript">
                                    document.write("<TD class=DaySunTitle id=diary >" + days[0] + "</TD>");
                                    for (var intLoop = 1; intLoop < days.length - 1; intLoop++)
                                        document.write("<TD class=DayTitle id=diary>" + days[intLoop] + "</TD>");
                                    document.write("<TD class=DaySatTitle id=diary>" + days[intLoop] + "</TD>");
                                </Script>
                            </TR>
                            </thead>
                            <TBODY border=1 cellspacing="0" cellpadding="0" ID="calendar" ALIGN=CENTER
                                   ONCLICK="getDiary()">
                            <Script LANGUAGE="JavaScript">
                                for (var intWeeks = 0; intWeeks < 6; intWeeks++) {
                                    document.write("<TR style='cursor:hand'>");
                                    for (var intDays = 0; intDays < days.length; intDays++) document.write("<TD class=CalendarTD onMouseover='buttonOver();' onMouseOut='buttonOut();'></TD>");
                                    document.write("</TR>");
                                }
                            </Script>
                            </TBODY>
                        </TABLE>
                        <Script LANGUAGE="JavaScript">
                            Calendar();
                        </Script>
                    </div>
                    <div id="tags">
                        <label>Tags</label>
                        <ol class="tags">
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ol>
                    </div>
            </aside>
        </article>
    </div>
    <%- include footer %>
</div>
<script type="text/javascript" src="/javascripts/common/jquery.js"></script>
<script type="text/javascript" src="/javascripts/common/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/article.js"></script>
</body>

</html>
