<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>作品</title>
    <link rel="shortcut icon" href="/images/common/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/normalize.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/common.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/work.css">
</head>

<body>
    <div>
        <%- include header %>
        <article class="container" id="works">
            <div class="row">
            <section class="col-md-9">
                <div id="tabs">
                    <a>ALL</a>
                    <a>JavaScript UtilFunctions</a>
                    <a>UI Components</a>
                    <a>Framework</a>
                    <a>Application</a>
                    <div class="pubuliu">
                        <ul>
                        <% for(var i=0;i<result.length;i++) {%>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag"><%= result[i].type %></p>
                                    <h2 title="<%= result[i].title %>"><%= result[i].title %></h2>
                                    <p class="content"><%= result[i].content %></p>
                                </ul>
                            </li>
                        <% } %>
                            <!--更多的li-->
                            <div style="clear: both"></div>
                        </ul>

                        <div style="clear: both"></div>
                    </div>
                </div>
                <div id="loading">
                    <span></span> 点击查看更多
                </div>
            </section>
            <aside class="col-md-3" id="aside">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                            <input type="text" class="form-control" id="searchContent" placeholder="searchContent">
                            <div class="input-group-addon go">GO</div>
                        </div>
                    </div>
                </form>
                <div id="top">
                    <label>人气排行榜</label>
                    <ol>
                        <li>
                            <canvas id="c1"></canvas>
                            <canvas id="r1"></canvas>
                            <p>ui.tree</p>
                        </li>
                        <li>
                            <canvas id="c2"></canvas>
                            <canvas id="r2"></canvas>
                            <p>util.trim</p>
                        </li>
                        <li>
                            <canvas id="c3"></canvas>
                            <canvas id="r3"></canvas>
                            <p>app.todo</p>
                        </li>
                        <li>
                            <canvas id="c4"></canvas>
                            <canvas id="r4"></canvas>
                            <p>ui.tab</p>
                        </li>
                        <li>
                            <canvas id="c5"></canvas>
                            <canvas id="r5"></canvas>
                            <p>util.addClass</p>
                        </li>
                    </ol>
                    <div style="clear:both;"></div>
                </div>
            </aside>
                </div>
        </article>
        <%- include footer %>
    </div>
    <script type="text/javascript" src="/javascripts/common/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/common/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/work.js"></script>
</body>

</html>
